<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    
	<link rel="stylesheet" href="/css/optionDetail.css">
    <link rel="stylesheet" href="/css/headerNav.css">
    <title>Document</title>
</head>
<body>
    <header th:insert="headerNav"></header>
	<div class="wrapper">
		<div class="links">
			<ul>
				<li data-view="list-view" class="li-list active">
				리스트 뷰</li>
				<li data-view="grid-view" class="li-grid">
				그리드 뷰</li>
			</ul>
			<!-- 아래버튼 -->
			<a style="display:scroll; position:absolute; right: 1px; top: 50px; " href="#scrollbottom" title=Down>
				
				<p style="size: 10px; width: 40px; height: 40px; padding:10px 0px 0px 12px; background:#333; color:#fff; border-radius: 3px;">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
					<path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
				  </svg></p></a>
		</div>
		<div class="lists">
			<ul >
				<li data-view="search" class="li-search">
					검색목록
				</li>
				<li data-view="selected" class="li-selected">
					선택됨
				</li>

			</ul>


		</div>


	<div class="view_main">
		<div class="view_wrap list-view" style="display: block;">

			<!-- 영화1 -->
			<div class="view_item">
				<div class="vi_left">
					<img src="/images/4.jpg" alt="4">
				</div>
				<div class="vi_right">
					<p class="title">이터널 선샤인</p>
					<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
					<div class="btn">View More</div>
				</div>
			</div>
			<!-- 영화2 -->
			<div class="view_item">
				<div class="vi_left">
					<img src="/images/4.jpg" alt="4">
				</div>
				<div class="vi_right">
					<p class="title">이터널 선샤인</p>
					<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
					<div class="btn">View More</div>
				</div>
			</div>
			<!-- 영화3 -->
			<div class="view_item">
				<div class="vi_left">
					<img src="/images/4.jpg" alt="2">
				</div>
				<div class="vi_right">
					<p class="title">귀멸의 칼날</p>
					<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
					<div class="btn">View More</div>
				</div>
			</div>
			<!-- 영화4 -->
			<div class="view_item">
				<div class="vi_left">
					<img src="/images/4.jpg" alt="4">
				</div>
				<div class="vi_right">
					<p class="title">이터널 선샤인</p>
					<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
					<div class="btn">View More</div>
				</div>
			</div>
			<!-- 영화5 -->
			<div class="view_item">
				<div class="vi_left">
					<img src="/images/4.jpg" alt="4">
				</div>
				<div class="vi_right">
					<p class="title">이터널 선샤인</p>
					<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
					<div class="btn">View More</div>
				</div>
			</div>
			<!-- 영화6 -->
			<div class="view_item">
				<div class="vi_left">
					<img src="/images/4.jpg" alt="4">
				</div>
				<div class="vi_right">
					<p class="title">이터널 선샤인</p>
					<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
					<div class="btn">View More</div>
				</div>
			</div>
			<!-- 영화7 -->
			<div class="view_item">
				<div class="vi_left">
					<img src="/images/4.jpg" alt="4">
				</div>
				<div class="vi_right">
					<p class="title">이터널 선샤인</p>
					<p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
					<div class="btn">View More</div>
				</div>
			</div>
		</div>
	</div>
	<div id="scrollbottom"></div>
</body>
</html>
