<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Similar Result</title>
<link rel="stylesheet" href="/css/similarResult.css">
</head>
<body>
	<script th:inline="javascript">
		
	</script>
	<header th:insert="headerNav"></header>
	<div class="head">
        <h1 style="color: white;">선택한 영화</h1>
    </div>
    <div class="content">
        <div class="mainMovie">
            <div class="poster">
                <a href="#">사진</a>
            </div>
            <dl class="lst_dsc">
                <dt class="tit">
                    <a href="#">제목</a>
                </dt>
                <dd>
                    <dl class="info_txt1">
                        <dt class="tit_t1">장르</dt>
                        <dd>
                            <span>장르1, 장르2</span>
                        </dd>
                        <dt class="tit_t2">감독</dt>
                        <dd>
                            <span class="link_txt">
                                <a href="#">감독1</a>
                            </span>
                        </dd>
                        <dt class="tit_t3">출연</dt>
                        <dd>
                            <span class="link_txt">
                                <a href="#">배우1</a>
                                <a href="#">배우2</a>
                                <a href="#">배우3</a>
                            </span>
                        </dd>
                    </dl>
                </dd>
            </dl>
            
        </div>
    </div>
    <div class="list">
        <div class="movieList" style="margin-bottom: 10px; background-color: black;">
            <h3 style="color:#fff;">비슷한 영화 추천</h3>
        </div>
        <div class="movieList">
        	<div class="detail">
        		<div class="rank">
	        		<p th:text="${send['0']['score']}"></p>
	        		<p th:text="${send['0']['movie']['movieTitle']}"></p>
	    		</div>
	    		<div class="poster2">
	               	<img th:src="${send['0']['thumbURL']}" width="400px" height="400px"> 
	                <!-- <img src="https://movie-phinf.pstatic.net/20111221_148/1324471036322cnB1S_JPEG/movie_image.jpg" style="width: 100px; height:auto;">-->
	            </div>
        	</div>
        	<div class="detail">
        		<div class="rank">
	        		<p th:text="${send['1']['score']}"></p>
	    		</div>
	    		<div class="poster2">
	                <img th:src="${send['1']['thumbURL']}">
	            </div>
        	</div>
        	<div class="detail">
        		<div class="rank">
	        		<p th:text="${send['2']['score']}"></p>
	    		</div>
	    		<div class="poster2">
	                <img th:src="${send['2']['thumbURL']}">
	            </div>
        	</div>
        	<div class="detail">
        		<div class="rank">
	        		<p th:text="${send['3']['score']}"></p>
	    		</div>
	    		<div class="poster2">
	                <img th:src="${send['3']['thumbURL']}">
	            </div>
        	</div>
        	<div class="detail">
        		<div class="rank">
	        		<p th:text="${send['4']['score']}"></p>
	    		</div>
	    		<div class="poster2">
	                <img th:src="${send['4']['thumbURL']}">
	            </div>
        	</div>
        	<div class="detail">
        		<div class="rank">
	        		<p th:text="${send['5']['score']}"></p>
	    		</div>
	    		<div class="poster2">
	                <img th:src="${send['5']['thumbURL']}">
	            </div>
        	</div>
        	<div class="detail">
        		<div class="rank">
	        		<p th:text="${send['6']['score']}"></p>
	    		</div>
	    		<div class="poster2">
	                <img th:src="${send['6']['thumbURL']}">
	            </div>
        	</div>
        	<div class="detail">
        		<div class="rank">
	        		<p th:text="${send['7']['score']}"></p>
	    		</div>
	    		<div class="poster2">
	                <img th:src="${send['7']['thumbURL']}">
	            </div>
        	</div>
        	<div class="detail">
        		<div class="rank">
	        		<p th:text="${send['8']['score']}"></p>
	    		</div>
	    		<div class="poster2">
	                <img th:src="${send['8']['thumbURL']}">
	            </div>
        	</div>
        	<div class="detail">
        		<div class="rank">
	        		<p th:text="${send['9']['score']}"></p>
	    		</div>
	    		<div class="poster2">
	                <img th:src="${send['9']['thumbURL']}">
	            </div>
        	</div>
        	
        </div>		
    </div>
</body>
</html>