@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #ebecf1;
	color: black;
}



.view_item img{
	width: 110px;
}

.wrapper{
	position: relative;
	width: 900px;
	margin: 20px auto;
}

.view_mode{
    width: 180px;
    height: 50px;
	border-radius: 5px;

}

.view_mode ul{
	display: flex;
	justify-content: center;
}

.view_mode ul li{
	padding: 10px;
	border: 1px solid #000;
	border-radius: 3px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 5px;
	cursor: pointer;
}

.view_mode ul li:hover,
.view_mode ul li.active{
	background: lightgray;
}


.view_main{
	
	background: #fff;
	border-radius: 3px;
	padding: 50px;
	padding-bottom : 120px;
}

.list-view .view_item {
	height: 200px;
	background: #ccc;
	border : 1px solid #000;
    border-radius: 10px;
	margin: 20px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	
}

.view_item.selected{
	border: 5px solid red;
	background: rgb(253, 254, 214);
}


.list-view .view_item:last-child{
	margin-bottom: 0;
}

.list-view .view_item .vi_left{
	margin-right: 25px;
}


.view_item .title{
	font-weight: 600;
}

.view_item .content{
	margin: 5px 0;
	font-size: 12px;
	line-height: 22px;
	font-weight: 200;
}

.view_item .btn{
	width: 80px;
	height: 40px;
	background: white;
	border-radius: 3px;
	color: #aaa;
	text-align: center;
	font-weight: 200;
	cursor: pointer;
}

.view_item .btn:hover{
	background: #333;
}



.grid-view .view_item {
	display: inline-block;
    border-radius:10px;
    width: 230px;
    padding: 25px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    
}

.grid-view .view_item .vi_left{
	margin-bottom: 10px;
}

.grid-view .view_item .btn{
	margin: 0 auto;
}

.btn{
	font-size: 11px;
	padding-top: 10px;
}
.vi_left{
	padding: 10px;
}


.sel{
	position:absolute;
	padding: 10px;
	top: 35px;
	right: -135px;

}



.sel ul{
	justify-content: center;
}

.sel ul li{
	width: 120px;
	height: 50px;
	border: 1px solid #000;
	background-color: #777;
	margin :5px;
	border-radius: 5px;
	font-weight: 600;
	text-align: center;
	line-height: 45px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 15px;
	cursor: pointer;
}

.sel ul li:hover,
.sel ul li.active{
	background-color: lightgray;
	color: white;
}


.submit{
	position:absolute; 
	right: 1px; 
	bottom: 1px;
	width : 100px;
	height : 70px;
}
