<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap-5.2.0-dist/css/bootstrap.css">
<!-- <script src="/bootstrap-5.2.0-dist/js/bootstrap.js"></script> -->
<script th:src="@{/bootstrap-5.2.0-dist/js/bootstrap.bundle.js}"></script><!--popper.js를 포함  -->

<nav>
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		 
		<div>
			<ul class="nav justify-content-center nav-pills ">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">홈</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/user/list/1">현재상영작</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/seat/list/1">무제</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">무제</a>
				</li>
			</ul>			
		</div>
	</div>
</nav>


</html>